<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block headTitle %}{% endblock %} Dewaarde</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/skin/style.css">

    <link rel="apple-touch-icon" sizes="57x57" href="http://tipni.to/img/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://tipni.to/img/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://tipni.to/img/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://tipni.to/img/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://tipni.to/img/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://tipni.to/img/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://tipni.to/img/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://tipni.to/img/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://tipni.to/img/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="http://tipni.to/img/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://tipni.to/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://tipni.to/img/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://tipni.to/img/ico/favicon-16x16.png">

    {% block customMeta %}
    {% endblock %}
</head>
<body>
<script>
  window.fbAsyncInit = function () {
    FB.init({appId: '1904055189685109', autoLogAppEvents: true, xfbml: true, version: 'v3.2'});
  };
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/cs_CZ/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container-fluid" id="app">


    {{ cmsBlock("core/flash").getAll().render() | raw }}

    {% block main %}
        {{ cmsBlock("core/header").render() | raw }}
    {% endblock %}

    {{ cmsBlock("core/footer").render() | raw}}


</div>
<script src="/skin/bundle.js"></script>
</body>
</html>