{% extends "layout.twig" %}
{% block main %}
    {{ cmsBlock("core/header",{"class":"job-header","show_jumbotron": false}).render() | raw }}
    <div class="content content gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-plain">
                        <div class="card-text">
                            <h3 class="font-light">Operátor výroby v automotive</h3>
                            <h4 class="font-thin">Mzda: 110 Kč/hod (čistého) </h4>
                            <div class="font-light"><p class="MsoNormal" style="mso-margin-top-alt: auto; margin-bottom: .0001pt; line-height: normal;"><span
                                            style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; color: black; mso-fareast-language: CS;">Chceš pracovat ve výrobě, ale ne u pásový výroby? Máš jedineční možnost.</span>
                                </p>
                                <p class="MsoListParagraph" style="mso-margin-bottom-alt: auto; mso-add-space: auto; text-indent: -18.0pt; line-height: normal; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;"><!-- [if !supportLists]--><span
                                            style="font-size: 10.0pt; mso-bidi-font-size: 10.5pt; font-family: Symbol; mso-fareast-font-family: Symbol; mso-bidi-font-family: Symbol; color: black; mso-fareast-language: CS;"><span
                                                style="mso-list: Ignore;">·<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;</span></span></span></p>
                                <p class="MsoListParagraph" style="mso-margin-bottom-alt: auto; mso-add-space: auto; text-indent: -18.0pt; line-height: normal; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;"><strong style="text-indent: 0px;"><span
                                                style="font-size: 18pt; font-family: Verdana, sans-serif;">&nbsp; &nbsp;Co tě u nás čeká?</span></strong></p>
                                <ul type="disc">
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Výroba svařovaných a lisovaných dílů pro automobilový průmysl</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Různorodá práce (lisovna, lakovna, svařovna, logistika) -stačí si vybrat</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Osobní přístup koordinátora </span>
                                    </li>
                                </ul>
                                <p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-outline-level: 2;"><strong><span
                                                style="font-size: 18.0pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; color: black; mso-fareast-language: CS;">Jak poznáš, že je táto práce pro tebe?</span></strong>
                                </p>
                                <ul type="disc">
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l0 level1 lfo2; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Ochota pracovat ve výrobě (směnný provoz podle zařazení)</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l0 level1 lfo2; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Spolehlivost a zodpovědnost při práci </span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l0 level1 lfo2; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Dobrý zdravotní stav</span></li>
                                </ul>
                                <p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-outline-level: 2;"><strong><span
                                                style="font-size: 18.0pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; color: black; mso-fareast-language: CS;">A co tě u nás bude dělat šťastným/ou?</span></strong>
                                </p>
                                <ul type="disc">
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l1 level1 lfo3; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Možnost záloh (po 1 odpracovaném týdnu)</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l1 level1 lfo3; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Mzda až 110 Kč/hod. (čistého)</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l1 level1 lfo3; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Bonusy za produktivitu práce (NG bonus, profesní ohodnocení, …)</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l1 level1 lfo3; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Ubytování ZDARMA / příspěvek na bydlení</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l1 level1 lfo3; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Práce na HPP v&nbsp;stabilní společnosti</span>
                                    </li>
                                    <li class="MsoNormal" style="color: black; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-list: l1 level1 lfo3; tab-stops: list 36.0pt;"><span
                                                style="font-size: 10.5pt; font-family: 'Verdana',sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-fareast-language: CS;">Firemní akce</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}