{% extends "layout.twig" %}

{% block main %}
    {{ parent() }}

    {{ cmsBlock("job/latest").loadJobs().render() | raw }}
    <section class="numbers">
        <div class="container">
            <div class="row ">
                <div class="counter"></div>

                <div class="col-md-4 col-sm-12 text-center d-flex flex-column justify-content-center">
                    <div class="icon-wrapper">
                        <img src="/skin/frontend/img/icon_ads.png" alt="ads">
                    </div>
                    <div class="number counter-employee font-medium">200</div>
                    <div class="number-title">přidělených zaměstnanců</div>
                </div>
                <div class="col-md-4 col-xs-12 text-center d-flex flex-column justify-content-center">
                    <div class="icon-wrapper">
                        <img src="/skin/frontend/img/icon_company.png" alt="ads">
                    </div>
                    <div class="number counter-company font-medium">80</div>
                    <div class="number-title">firem v databázi</div>
                </div>
                <div class="col-md-4 col-xs-12 text-center d-flex flex-column justify-content-center">
                    <div class="icon-wrapper">
                        <img src="/skin/frontend/img/icon_experience.png" alt="ads">
                    </div>
                    <div class="number counter-exp font-medium">15</div>
                    <div class="number-title">let zkušeností</div>
                </div>
            </div>
        </div>
    </section>

    {{ cmsBlock("news/latest").loadNews().render() | raw }}


    <section class="employee">
        <section class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col employee-text">
                                <p>Začínal jsem jako operátor lisu, po několika letech mi nabídli pozici koordinátora. Trochu jsem se pral s administrativou, ale když máte podporu, dá se všechno zvládnout.</p>
                                <div class="d-block employee-name">Michal Vancsík</div>
                                <div class="employee-position font-light">Koordinátor</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col employee-text">
                                <p>Tahle agentura se opravdu o lidi stará, a to od ubytování, přes zálohy nebo po třeba dárky k Vánocům. Líbí se mi, že tady nejsem jen číslo.</p>
                                <div class="d-block employee-name"> Pavel Dobrovský</div>
                                <div class="employee-position font-light">Operátor výroby</div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col employee-text">
                                <p>Delta je první agentura, která mi nabídla bydlení v bytě a ne na ubytovně. Klid na odpočinek a peníze včas jsou základem toho, aby člověk mohl být spokojený.</p>
                                <div class="d-block employee-name">Jana Marková</div>
                                <div class="employee-position font-light">Operátorka výroby</div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col employee-text">
                                <p>V agentuře jsem začal jako operátor svařovny, prošel si několika odděleními a díky skvělým firemním podmínkám jsem se vypracoval až na pozici hlavního koordinátora.</p>
                                <div class="d-block employee-name">Vladimír Cibulka</div>
                                <div class="employee-position font-light">Hlavní koordinátor</div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col employee-text">
                                <p>Jsem držitelem svářecího SWTI certifikátu, a proto když se hledal někdo, kdo rozumí sváření i svářečům, tak jsem dostal zajímavou příležitost jako koordinátor a jsem za to rád.</p>
                                <div class="d-block employee-name">Jaroslav Andrla</div>
                                <div class="employee-position font-light">Koordinátor</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

    <section class="content gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-plain">
                        <div class="card-text">
                            <h3 class="font-light">O NÁS</h3>
                            <p class="font-light">Hledáte bezúspěšně nové a kvalifikované zaměstnance? Personální agentura DEWAARDE je tu pro Vás! Trh práce je plný schopných potenciálních zaměstnanců, kteří jen čekají na volná místa a příležitost, kterou
                                jim
                                Vaše firma může nabídnout. Hledáte novou práci, ale neměli jste dosud štěstí?</p>
                            <p class="font-light">Na trhu práce je nesčetné množství úspěšných firem, které právě teď hledají nové spolupracovníky.</p>
                            <h4 class="font-light">KONTAKTY</h4>
                            <div class="contact-email">
                                <a class="font-medium" href="mailto:info@dewaarde.cz">info@dewaarde.cz</a>
                            </div>
                            <div class="contact-phone">
                                <span class="font-medium">+420 773 883 332</span>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-4">
                                    <a href="/p/kontakt" class="btn-green">Všechny kontakty</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-block">
                        <div class="card-text">
                            <h4 class="font-light">PRO FIRMY</h4>
                            <div class="row">
                                <div class="col-4"><img src="/skin/frontend/img/block_company.png" alt="pro firmy"/></div>
                                <div class="col-8">
                                    <p class="font-light">Získáme kvalifikovaného pracovníka, který přesně odpovídá vašim potřebám. Vylepšíme image Vaší společnosti tak, aby lákala nové zaměstnance sama.</p>
                                    <p class="font-light">Zajistíme ubytování v místě výkonu práce a patřičné pracovní pomůcky.</p>
                                    <p><a href="/pro-firmy.html">Zjistit více</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
    <script src="/skin/frontend/bundle.js"></script>

{% endblock %}
