{% extends "layout.twig" %}

{% block main %}
    {{ parent() }}

    {{ cmsBlock("job/latest").loadJobs().render() | raw }}
    <section class="numbers">
        <div class="container">
            <div class="row">
                <div class="col-4 text-center d-flex flex-column justify-content-center">
                    <div class="icon-wrapper">
                        <img src="/skin/frontend/img/icon_ads.png" alt="ads">
                    </div>
                    <div class="number font-medium">2</div>
                    <div class="number-title">nabídky práce</div>
                </div>
                <div class="col-4 text-center d-flex flex-column justify-content-center">
                    <div class="icon-wrapper">
                        <img src="/skin/frontend/img/icon_company.png" alt="ads">
                    </div>
                    <div class="number font-medium">1 256</div>
                    <div class="number-title">firem v databázi</div>
                </div>
                <div class="col-4 text-center d-flex flex-column justify-content-center">
                    <div class="icon-wrapper">
                        <img src="/skin/frontend/img/icon_experience.png" alt="ads">
                    </div>
                    <div class="number font-medium">5</div>
                    <div class="number-title">let zkušeností</div>
                </div>
            </div>
        </div>
    </section>

    {{ cmsBlock("news/latest").loadNews().render() | raw }}

    <section class="content gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card card-plain">
                        <div class="card-text">
                            <h3 class="font-light">O NÁS</h3>
                            <p class="font-light">Hledáte bezúspěšně nové a kvalifikované zaměstnance? Personální agentura DEWAARDE je tu pro Vás! Trh práce je plný schopných potenciálních zaměstnanců, kteří jen čekají na volná místa a příležitost, kterou
                                jim
                                Vaše firma může nabídnout. Hledáte novou práci, ale neměli jste dosud štěstí?</p>
                            <p class="font-light">Na trhu práce je nesčetné množství úspěšných firem, které právě teď hledají nové spolupracovníky.</p>
                            <h4 class="font-light">KONTAKTY</h4>
                            <div class="contact-email">
                                <a class="font-medium" href="mailto:info@dewaarde.cz">info@dewaarde.cz</a>
                            </div>
                            <div class="contact-phone">
                                <span class="font-medium">+420 773 883 332</span>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-4">
                                    <a href="/kontakt.html" class="btn-green">Všechny kontakty</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-block">
                        <div class="card-text">
                            <h4 class="font-light">PRO FIRMY</h4>
                            <div class="row">
                                <div class="col-4"><img src="/skin/frontend/img/block_company.png" alt="pro firmy"/></div>
                                <div class="col-8">
                                    <p class="font-light">Získáme kvalifikovaného pracovníka, který přesně odpovídá vašim potřebám. Vylepšíme image Vaší společnosti tak, aby lákala nové zaměstnance sama.</p>
                                    <p class="font-light">Zajistíme ubytování v místě výkonu práce a patřičné pracovní pomůcky.</p>
                                    <p><a href="/pro-firmy.html">Zjistit více</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
    <script src="/skin/frontend/bundle.js"></script>

{% endblock %}