<div class="container">
    <h2>Jak služba probíhá?</h2>
    <p>Průběh služby lze popsat v několika bodech. Tyto body Vám pomohou udělat si představu o tom, jak bude služba od
        začátku probíhat, jaké jsou její jednotlivé prvky a jaké benefity může přinést.</p>

    <div class="timeline timeline-line-dotted">
        <div class="timeline-item timeline-item-left">
            <div class="timeline-point timeline-point-success">
                <strong>1</strong>
            </div>
            <div class="timeline-event">
                <div class="timeline-heading">
                    <h4>Analýza potřeb</h4>
                </div>
                <div class="timeline-body">
                    <p>Nejprve zjistíme, jaké zaměstnance potřebujete, co musí umět, jaké jazykové znalosti jsou
                        žádoucí, od kdy pracovníky hledáte a následně společně s Vámi naplánujeme příchod nových posil
                        tak, aby se hladce zapojily do života Vaší firmy.</p>
                </div>
            </div>
        </div>
        <div class="timeline-label"></div>
        <div class="timeline-item timeline-item-right">
            <div class="timeline-point timeline-point-success">
                <strong>2</strong>
            </div>
            <div class="timeline-event">
                <div class="timeline-heading">
                    <h4>Vyhledávání</h4>
                </div>
                <div class="timeline-body">
                    <p>Na základě získaných informací připravíme kampaň na míru Vašim potřebám. K nalezení vhodných
                        kandidátů naši náboráři využívají všech možných kanálů od pracovních portálů, přes naši databázi
                        uchazečů, reference stávajících pracovníků, média, osobní kontakt či třeba vybudované vztahy
                        přes sociální sítě.</p>
                </div>
            </div>
        </div>
        <div class="timeline-label"></div>
        <div class="timeline-item timeline-item-left">
            <div class="timeline-point timeline-point-success">
                <strong>3</strong>
            </div>
            <div class="timeline-event">
                <div class="timeline-heading">
                    <h4>Testování</h4>
                </div>
                <div class="timeline-body">
                    <p>Naši klienti pochází z různých odvětví a jejich potřeby se liší. Díky pečlivému testování,
                        širokému portfoliu klientů a dostatečnému množství kandidátů můžeme každému našemu partnerovi
                        dodat přesně takové pracovníky, jaké potřebuje a zároveň kandidátům dopřát práci pro
                        zaměstnavatele, u kterého bude spokojen.</p>
                </div>
            </div>
        </div>
        <div class="timeline-label"></div>
        <div class="timeline-item timeline-item-right">
            <div class="timeline-point timeline-point-success">
                <strong>4</strong>
            </div>
            <div class="timeline-event">
                <div class="timeline-heading">
                    <h4>Koordinace</h4>
                </div>
                <div class="timeline-body">
                    <p>Ke každému projektu Vám přidělíme tzv. koordinátora či koordinátory. Koordinátor je osoba ochotná
                        být Vám i zaměstnanci k dispozici 24 hodin 7 dní v týdnu. Zajišťuje ubytování a dopravu jeli
                        potřeba, komunikuje se zaměstnanci, hlídá docházkovost, komunikuje s mistry, napomáhá procesu
                        adaptace a celkově se prosté stará, aby se každý projekt vzkvétal.</p>
                </div>
            </div>
        </div>
        <div class="timeline-label"></div>
        <div class="timeline-item timeline-item-left">
            <div class="timeline-point timeline-point-success">
                <strong>5</strong>
            </div>
            <div class="timeline-event">
                <div class="timeline-heading">
                    <h4>Statistiky</h4>
                </div>
                <div class="timeline-body">
                    <p>Každý projekt pečlivě sledujeme, poměřujeme čísla, vytváříme dotazníky spokojenosti, tak abychom
                        věděli co se daří a kde je prostor pro nové příležitosti.</p>
                </div>
            </div>
        </div>
    </div>

</div>