{% extends "layout.twig" %}
{% block main %}
    {{ cmsBlock("core/header",{"class":"job-header","show_jumbotron": false}).render() | raw }}
    <section class="content gray-bg">
        <div class="container">
            <h2 class="font-light">Nabídky práce</h2>
            <div class="row">
                {% for job in jobs %}
                <div class="col-4">
                    <a href="{{ cmsUrl('job_detail',{'slug':job.slug}) }}" class="card offer-item">
                        <div class="card-body">
                            <h5 class="card-title offer-item-title font-light">{{ job.title }}</h5>
                            <p class="card-text  offer-item-description font-light">
                                Chceš pracovat ve výrobě, ale ne u pásový výroby? Máš jedineční možnost.
                                ·&nbsp;&nbsp;
                                &nbsp; &nbsp;Co tě u nás čeká?

                                Výroba svařovaných a lisovaných dílů pro
                                <span class="offer-salary font-regular">Mzda: 110 Kč/hod (čistého) </span>
                            </p>
                        </div>
                    </a>
                </div>

                {% if loop.index % 3 == 0 %}
            </div>
            <div class="row pt-4">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}