<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?size=300x200&center=Na Březince 930/6, 150 00 Praha 5 - Smíchov&markers=label:Sídlo společnosti|Na Březince 930/6, 150 00 Praha 5 - Smíchov&key=AIzaSyCxgnlB2ZPNDDytSYIW5B-Zs76rprj9Gro" alt="Pobočka blatná" />
                <div class="card-body text-center">
                    <h5 class="card-title">Sídlo společnosti</h5>
                    Na Březince 930/6<br />150 00 Praha 5-Smíchov<br /><br />
                    <a class="btn btn-outline-primary btn-block" href="tel:+420739187498"><i class="fa fa-phone"></i> +420 773 883 332</a>
                    <a class="btn btn-outline-secondary btn-block" href="mailto:info@dewaarde.cz"><i class="fa fa-envelope"></i> info@dewaarde.cz</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?size=300x200&center=Havířská 307, 580 01 Havlíčkův Brod&markers=label:Pobočka Havlíčkův Brod|Havířská 307, 580 01 Havlíčkův Brod&key=AIzaSyCxgnlB2ZPNDDytSYIW5B-Zs76rprj9Gro" alt="Pobočka blatná" />
                <div class="card-body text-center">
                    <h5 class="card-title">Pobočka Havlíčkův Brod</h5>
                    Havířská 307<br />580 01 Havlíčkův Brod<br /><br />
                    <a class="btn btn-outline-primary btn-block" href="tel:+420773604714"><i class="fa fa-phone"></i> +420 773 604 714</a>
                    <a class="btn btn-outline-secondary btn-block" href="mailto:info@dewaarde.cz"><i class="fa fa-envelope"></i> info@dewaarde.cz</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?size=300x200&center=Nádražní 362, 388 01 Blatná&markers=label:Pobočka Blatná|Nádražní 362, 388 01 Blatná&key=AIzaSyCxgnlB2ZPNDDytSYIW5B-Zs76rprj9Gro" alt="Pobočka blatná" />
                <div class="card-body text-center">
                    <h5 class="card-title">Pobočka Blatná</h5>
                    Nádražní 362<br />388 01 Blatná<br /><br />
                    <a class="btn btn-outline-primary btn-block" href="tel:+420773338667"><i class="fa fa-phone"></i> +420 773 338 667</a>
                    <a class="btn btn-outline-secondary btn-block" href="mailto:info@dewaarde.cz"><i class="fa fa-envelope"></i> info@dewaarde.cz</a>
                </div>
            </div>
        </div>
    </div>
</div>
