<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-8 text-left">
                <span class="footer-copyright">© 2019 DEWAARDE.cz – personální agentura.</span>
            </div>
            <div class="col-xl-6 col-lg-4 col-md-4 text-right">
          <span class="footer-logo">
            <img src="/skin/frontend/img/logo.png" alt="logo">
          </span>
            </div>
        </div>
    </div>
</section>
