{% extends "layout.twig" %}

{% block headTitle %}{{ news.title }} :: Aktuality ::{% endblock %}

{% block main %}
    {{ cmsBlock("core/header",{"class":"job-header","show_jumbotron": false, title: news.title }).render() | raw }}
    <div class="content content gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-plain">
                        <div class="card-text">
                            <div class="font-light">
                                {{ news.description | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}